<template>
  <div class="project_card">
    
  </div>
</template>

<style lang="scss">
</style>

<script lang="ts">
  import Vue from "vue";
  import Component from "vue-class-component";
  import IProject from "../../models/IProject";

  @Component({
    props: {
      post: {
        type: Object as () => IProject,
        default: {}
      }
    }
  })
  export default class ProjectCard extends Vue {}
</script>