<template>
  <div class="project_card_list">
    <ProjectCard :project="project" v-for="project of projects" :key="project.slug"/>
  </div>
</template>

<style lang="scss">
  .project_card_list {
    
  }
</style>

<script lang="ts">
  import Vue from "vue";
  import Component from "vue-class-component";

  @Component({
    props: {
      projects: {
        default: []
      }
    }
  })
  export default class ProjectCardList extends Vue {}
</script>