<template>
  <article class="page_project">
  </article>
</template>

<style lang="scss">
</style>

<script lang="ts">
  import Vue from "vue";
  import Component from "vue-class-component";
  import IProject from '../../models/IProject';

  @Component({
    props: {
      project: {
        type: Object as () => IProject,
        default: {}
      }
    }
  })
  export default class Project extends Vue {}
</script>