*, *:before, *:after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  // font-size: .625em;
  font-family: 'Roboto-Regular';

  body {
    width: 100%;
    overflow-x: hidden;
    font-size: 14px;
    // font-size: calc(6px + 0.8vw);
  
    // @media only screen and (min-width: $mobile) {
    //   font-size: calc(6px + 0.8vw);
    // }
  
    @media only screen and (min-width: $tablet) {
      font-size: 16px;
    }
  
    // @media only screen and (min-width: $desktop) {
    //   font-size: 14px;
    // }

    .page_container {
      position: relative;
      min-height: 100vh;

      .page_content {
        padding-top: calc($footer_height + 3rem);
        min-height: calc(100vh - $footer_height);
        padding-bottom: $footer_height;
        background-color: $post_page_bg;
      }
    }

    img {
      max-width: 100%;
    }
  }
}

.test {
  color: $base-color;
}