<template>
  <div class="contact">
    <form 
      name="contactus" 
      action="/"
      method="post" 
      netlify
      netlify-honeypot="bot-field"
    >
      <!-- Hidden input to check for bots -->
      <input type="hidden" name="form-name" value="contactus" />
      <input type="text" name="name" placeholder="Nom et prénom" required/>
      <input type="email" name="email" placeholder="Email" required/>
      <textarea name="message" placeholder="Votre message" require></textarea>
      <button type="submit" value="Send message">Envoyer</button>
    </form>
  </div>
</template>

<style lang="scss">
  .contact {
    margin: auto;
    border: 1px solid red;

    form {
      padding: 2rem 0;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;

      input, textarea {
        margin: auto;
        margin-bottom: 1rem;
        padding: 0.5rem;
        width: 100%;
        max-width: 25rem;
      }

      textarea {
        min-height: 6rem;
      }

      button {
        padding: 0.5rem 1rem;
        cursor: pointer;
      }
    }
  }
</style>

<script lang="ts">
  import Vue from "vue";
  import Component from "vue-class-component";

  @Component({})
  export default class Contact extends Vue {}
</script>