<template>
  <footer>
    <p>{{ config.site_title }}</p>
  </footer>
</template>

<style scoped lang="scss">
  footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: $footer_height;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    border-top: 1px solid black;
    background-color: $footer_bg_color;
  }
</style>

<script lang="ts">
import Vue from "vue";
import Component from "vue-class-component";
import config from '../static/config.json';

@Component({})

export default class Footer extends Vue {
  private config: any = config;
}
</script>