<template>
  <header>
    HEADER
  </header>
</template>

<style scoped lang="scss">
  header {
    position: absolute;
    top: 0;
    width: 100%;
    height: $footer_height;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    border-bottom: 1px solid black;
    background-color: $footer_bg_color;
  }
</style>

<script>
  export default {
    name: 'Header'
  }
</script>