<!-- Please remove this file from your project -->
<template>
  <div class="hp">
    <PostCardList :posts="posts"/>
  </div>
</template>

<style scoped lang="scss">
  .postArticle {
    margin: 1em auto;
    border: 1px solid black;
  }
</style>

<script lang="ts">
import Vue from "vue";
import Options from "vue-class-component";
import Component from "vue-class-component";
import Posts from "~/store/posts";
import Prism from '~/plugins/prism'
import { IPost } from "../models/IPost";

@Options({
  name: "Home",
  components: {}
})

@Component({
  layout: 'PostLayout',
})
export default class Home extends Vue {
  private posts: IPost[] = [];
  head() {
    return {
      title: 'Test Title',
      meta: [
        { hid: 'description', name: 'description', content: 'My custom description' }
      ]
    }
  }

  async mounted() {
    await Posts.fetchPosts();
    this.posts = Posts.getPosts;
  }
}
</script>