<template>
  <ProjectCardList :projects="projects"/>
</template>

<script lang="ts">
import Vue from "vue";
import Component from "vue-class-component";
import IProject from "~/models/IProject";
import ContentfulFetcher from '~/middlewares/ContentfulFetcher';

@Component({
  head(this: ProjectPage): Record<string, unknown> {
    return {
      title: "Projets",
      meta: [
        {
          hid: "description",
          name: "description",
          content: "Mes projets",
        },
      ]
    };
  },
  async asyncData({ params, redirect, app, postStore }: any) {
    const projects: IProject[] = await ContentfulFetcher.getProjects();
    return { projects };
  }
})

export default class ProjectPage extends Vue {
  async mounted() {
  }
}
</script>
