@font-face {
  font-family: "Roboto-Regular";
  src: local("RobotoCondensed-Regular"), url("../assets/fonts/RobotoCondensed-Regular.ttf") format("truetype");
  font-weight: 300;
  font-style: normal;
}
@font-face {
  font-family: "Roboto-Light";
  src: url("../assets/fonts/RobotoCondensed-Light.ttf") format("truetype");
  font-weight: 300;
  font-style: normal;
}
@font-face {
  font-family: "Roboto-Bold";
  src: url("../assets/fonts/RobotoCondensed-Bold.ttf") format("truetype");
  font-weight: 700;
  font-style: bold;
}
@font-face {
  font-family: "Roboto-BoldItalic";
  src: url("../assets/fonts/RobotoCondensed-BoldItalic.ttf") format("truetype");
  font-weight: 700;
  font-style: bold;
}