<template>
  <div class="page_container">
    FUCK
    <Header />
    <div class="page_content post_content">
      <Nuxt />
    </div>
    <Footer />
  </div>
</template>

<style scoped lang="scss">
  .post_content {
    h1 {
      font-size: 5rem;
      font-family: 'Roboto-Bold';
      color: red;
    }
  }
</style>

<script lang="ts">
  import Vue from "vue";
  import Component from "vue-class-component";

@Component({
  layout: 'PostLayout'
})
export default class PostLayout extends Vue {}
</script>