<template>
  <Post :post="post"/>
</template>

<style lang="scss">
</style>

<script lang="ts">
  import Vue from "vue";
  import Component from "vue-class-component";
  import { IPost } from "~/models/IPost";
  import ContentfulFetcher from '~/middlewares/ContentfulFetcher';

  @Component({
    head(this: Slug): Record<string, unknown> {
      return {
        title: this.post.title,
        meta: [
          {
            hid: "description",
            name: "description",
            content: this.post.description,
          },
        ]
      };
    },
    async asyncData({ params, redirect, app, postStore }: any) {
      const post: IPost = await ContentfulFetcher.getPost({ "fields.slug": params.slug });
      if (!post) {
        redirect("/");
        return;
      }
      return { post };
    },
  })
  export default class Slug extends Vue {
    private post: IPost = {} as IPost;
  }
</script>