<template>
  <div class="home_page">
    <Contact />
    <PostCardList :posts="posts"/>
  </div>
</template>

<script lang="ts">
import Vue from "vue";
import Component from "vue-class-component";
import { IPost } from "~/models/IPost";
import ContentfulFetcher from '~/middlewares/ContentfulFetcher';
import Prism from '~/plugins/prism'

@Component({
  head(this: Tutorial): Record<string, unknown> {
    return {
      title: "HP",
      meta: [
        {
          hid: "description",
          name: "description",
          content: "A site description",
        },
      ]
    };
  },
  async asyncData({ params, redirect, app, postStore }: any) {
    const posts: IPost[] = await ContentfulFetcher.getPosts();
    return { posts };
  }
})

export default class Tutorial extends Vue {
  async mounted() {
    Prism.highlightAll();
  }
}
</script>
