<template>
  <article class="page_post">
    <div class="page_post_header">
      <h1>{{ post.title }}</h1>
      <p class="page_author">Par {{ post.author.name }}</p>
      <p class="post_date">Publié le {{ new Date(post.date).toLocaleDateString() }}</p>
    </div>
    <div class="post_hero_pic_wrapper">
      <img class="post_hero_pic" :style="{ backgroundImage: 'url(' + post.heroPic.url + ')' }">
    </div>
    <div class="post_content" v-html="post.content"></div>
  </article>
</template>

<style lang="scss">
  .page_post {
    margin: auto;
    max-width: 1200px;
    color: #fff;

    .page_post_header {
      padding: 3rem 0;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;

      .post_date, .page_author {
        font-size: 1.25rem;
        line-height: 1.5rem;
        font-family: 'Roboto-Medium';
      }

      h1 {
        margin-top: 0.5rem;
        margin-bottom: 3rem;
        font-size: 4rem;
        line-height: 3.5rem;
        font-family: 'Roboto-Bold';
      }
    }

    .post_hero_pic_wrapper {
      margin-top: 1rem;
      margin-bottom: 3rem;

      .post_hero_pic {
        width: 100%;
        height: 400px;
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
      }
    }

    .post_content {
      padding: 0 3rem;
      h2 {
        margin: 4rem 0 1rem 0;
        font-family: 'Roboto-Bold';
        font-size: 2rem;
        line-height: 2.5rem;
        color: $page_post_h2_color;
      }

      p {
        margin-bottom: 2rem;
        font-family: 'Roboto-Regular';
        font-size: 1.25rem;
        line-height: 2rem;

        b {
          padding: 0.15rem 0.5rem;
          font-family: 'Roboto-Bold';
          font-weight: 400;
          background-color: #fff;
          color: #1b2432;
          border-radius: 0.25rem;
        }
      }

      pre {
        margin-bottom: 2rem;
        border-radius: 0.5rem;
        box-shadow: 3px ;
        // background-color: rgb(207, 209, 210);
        box-shadow: 5px 5px 10px #030912;
      }
    }
  }
</style>

<script lang="ts">
  import Vue from "vue";
  import Component from "vue-class-component";
  import { IPost } from "~/models/IPost";
  import Prism from '~/plugins/prism'

  @Component({
    props: {
      post: {
        type: Object as () => IPost,
        default: {}
      }
    }
  })
  export default class Post extends Vue {
    mounted() {
      Prism.highlightAll();
    }
  }
</script>