<template>
  <div class="post_card_list">
    <PostCard :post="post" v-for="post of posts" :key="post.slug"/>
  </div>
</template>

<style lang="scss">
  .post_card_list {
    
  }
</style>

<script lang="ts">
  import Vue from "vue";
  import Component from "vue-class-component";

  @Component({
    props: {
      posts: {
        default: []
      }
    }
  })
  export default class PostCardList extends Vue {
    mounted() {
      console.log("MOUNTED PostCardList")
    }
  }
</script>