<template>
  <div class="post_card">
    <div class="post_card_header">
      <h1><NuxtLink :to="`/blog/${post.slug}`">{{ post.title }}</NuxtLink></h1>
      <p>{{ post.description }}</p>
      <div class="post_card_category">
        <NuxtLink :to="`/blog/category/${post.category.slug}`">{{ post.category.name }}</NuxtLink>
      </div>
    </div>
    <div class="post_card_hero_pic_wrapper">
      <img class="post_card_hero_pic" :style="{ backgroundImage: 'url(' + post.heroPic.url + ')' }">
    </div>
  </div>
</template>

<style lang="scss">
  .post_card {
    padding: 2rem 1rem;
    margin: auto;
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
    border-top: 1px solid grey;
    max-width: 45rem;

    .post_card_header {
      flex: 4;
      color: #fff;

      h1 {
        a {
          color: #fff;
          text-decoration: none;
          font-family: 'Roboto-Bold';
        }
      }

      .post_card_category {
        margin-top: 1rem;

        a {
          padding: 0.25rem 0.75rem;
          color: #000;
          background-color: #fff;
          border-radius: 0.25rem;
          text-decoration: none;
        }
      }
    }

    .post_card_hero_pic_wrapper {
      display: flex;
      align-items: center;
      justify-content: flex-end;
      flex: 1;

      .post_card_hero_pic {
        width: 6rem;
        height: 6rem;
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
      }
    }
  }
</style>

<script lang="ts">
  import Vue from "vue";
  import Component from "vue-class-component";
  import { IPost } from "~/models/IPost";

  @Component({
    props: {
      post: {
        type: Object as () => IPost,
        default: {}
      }
    }
  })
  export default class PostCard extends Vue {
    mounted() {
      console.log("MOUNTED PostCard")
    }
  }
</script>