<template>
  <PostCardList :posts="posts"/>
</template>

<style lang="scss">
</style>

<script lang="ts">
  import Vue from "vue";
  import Component from "vue-class-component";
  import { IPost } from "~/models/IPost";
  import ContentfulFetcher from '~/middlewares/ContentfulFetcher';

  @Component({
    head(this: Slug): Record<string, unknown> {
      return {
        title: this.post.title,
        meta: [
          {
            hid: "description",
            name: "description",
            content: this.post.description,
          },
        ]
      };
    },
    async asyncData({ params, redirect, app, postStore }: any) {
      const posts: IPost[] = await ContentfulFetcher.getPosts(
        {
          'fields.category.sys.contentType.sys.id': 'category',
          'fields.category.fields.name[match]': params.slug
        }
      );
      if (!posts.length) {
        redirect("/");
        return;
      }
      return { posts };
    },
  })
  export default class Slug extends Vue {
    private post: IPost = {} as IPost;
  }
</script>